<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="mydb" connectionString="Data Source=49.156.168.142;port=3306;Pooling=true;database=feeddb;User Id=dev;Password=tcminplay;SslMode = none;"/>
  </connectionStrings>
</configuration>
